@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    font-family: "Inter", serif !important;
    width: 100%;
    overflow-x: clip;
}

code {
    font-family: "Inter", serif !important;
}

.manrope {
    font-family: "Manrope", sans-serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.animate-blink {
    animation: blink 2s infinite;
}

.desc li,
p {
    line-height: 185%;
}

.offscreen-section {
    content-visibility: auto !important;
}

.swiper-button-prev-slide-swp,
.swiper-button-next-slide-swp {
    background-color: #020B10 !important;
    color: white !important;
    transition: all 0.3s ease;
    font-weight: 500 !important;
    border: 1px solid black;
    font-family: monospace !important;
    font-size: 15px;
}

.review span {
    color: #E5AE00;
}

.swiper-button-prev-slide-swp:not(.swiper-button-disabled),
.swiper-button-next-slide-swp:not(.swiper-button-disabled) {
    background-color: rgb(229 174 0) !important;
    color: black !important;
    font-weight: 700 !important;
    border: 1px solid black;
    cursor: pointer;
    font-family: monospace !important;
    font-size: 16px;
}

.herohed span {
    background: linear-gradient(92deg, rgb(229, 174, 1) 24.64%, rgb(255, 225, 130) 97%) text !important;
    -webkit-text-fill-color: transparent;
}

.custom-range {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    outline: none;
    transition: background 0.2s;
}

/* Chrome, Safari, Edge, Opera */

.custom-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    border-radius: 5px;
}

/* Thumb (Handle) */

.custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background: white;
    border: 2px solid gold;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
    margin-top: -4px;
}

.custom-range::-webkit-slider-thumb:hover {
    transform: scale(1.2);
}

/* Firefox */

.custom-range::-moz-range-track {
    width: 100%;
    height: 6px;
    border-radius: 5px;
}

.custom-range::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background: white;
    border: 2px solid gold;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
}

.custom-range::-moz-range-thumb:hover {
    transform: scale(1.2);
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    display: none !important;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    display: none !important;
}

.bgwhat {
    background-image: url(../src/assets/WhatIsSec/bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.bgwhatmob {
    background-image: url(../src/assets/WhatIsSec/bgmob.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* .cardimg {
  background-image: url(../src/assets/ExpertsworkingSec/expert.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
} */

.bgtheylt {
    background-image: url(../src/assets/TheUltimateSec/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1200px;
    /* Or your desired maximum width */
    margin: auto
}

.bgtheyltmob {
    background-image: url(../src/assets/TheUltimateSec/new_bgmob.webp);
    background-size: 100% 100%;
    /* background-repeat: no-repeat; */
}

.swiper-button-prev-how.swiper-button-disabled,
.swiper-button-next-how.swiper-button-disabled {
    opacity: 0.35 !important;
    cursor: auto !important;
    pointer-events: none !important;
}

.swiper-button-prev-3.swiper-button-disabled,
.swiper-button-next-3.swiper-button-disabled {
    opacity: 0.35 !important;
    cursor: auto !important;
    pointer-events: none !important;
}

.swiper-button-prev-press.swiper-button-disabled,
.swiper-button-next-press.swiper-button-disabled {
    opacity: 0.35 !important;
    cursor: auto !important;
    pointer-events: none !important;
}

.swiper-button-prev-top.swiper-button-disabled,
.swiper-button-next-top.swiper-button-disabled {
    opacity: 0.35 !important;
    cursor: auto !important;
    pointer-events: none !important;
}

/* Custom slider spacing */

.roadmap-slider .slick-list {
    margin: 0 -7px;
}

.roadmap-slider .slick-slide>div {
    padding: 0 7px;
    height: 100%;
    /* Ensures equal height */
}

.whitepaperBg {
    /* background: url('./assets/Whitepaper/whitepaper_bg.png'); */
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: 100% 100%;
    background-image: url('./assets/Whitepaper/whitepaper_bg.png');
}

.custom-bullet {
    background-color: #1c1917;
    cursor: pointer;
}

.swiper-pagination-bullet-active.custom-bullet {
    background-color: #dba81d;
}

.preswiper .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #e5ae00 !important;
}

.preswiper .swiper-pagination-bullet {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #ffff;
}

.multiAwardbr {
    display: none !important;
}

@media (max-width: 768px) {
    .mobilepara br {
        display: none !important;
    }
    .multiAwardbr {
        display: block !important;
    }
    .demobr br {
        display: block;
    }
}

.demobr br {
    display: none;
}

.bg_banner {
    background: #FCD149;
}

@media (max-width: 768px) {
    .bg_banner {
        background: #FCD149;
    }
}